.seccion{
    width: 450px;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}



#divImg{
    min-width: 450px;
    align-items: center;
}
#divImg picture{
    width: 100%;
    height: 100%;
    border: 2px solid #1c3c3c;
    background-color: #1c3c3c;
    border-radius: 10px;
}
#divImg img{
    width: 100%;
    height: 100%;
    border-radius: 2em;
}



#divInf
{
    align-content: flex-start;
    color: #132b2b;
}
#divInf h2{
    width: 100%;
    margin: 0;
}
#divInf div{
    width: 100%;
}
#divInf hr{
    width: 60%;
    margin: 10px 0;
    border-top: 1px solid black;
}
#divInf p{
    margin: 0 5px;
    width: 40%;
}
.txtResaltado{
    font-weight: bold;
    text-align: right;
}
.txtNormal{
    text-align: left;
}
#divInf h4{
    width: 90%;
    margin: 0;
    text-align: justify;
}