*{
	box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#cuerpo{
    width: 70%;
    min-width: 500px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


#cabecera{
    width: 90%;
    height: 100px;
    margin: 30px 0;

    display: flex;
    flex-flow: row nowrap;
}
#imgCabecera{
    height: 100%;
    width: 110px;
    min-width: 110px;
}
#imgCabecera img{
    width: 100%;
    height: 100%;
}
#subCabecera{
    height: 100%;
    width: 90%;
    margin-left: 5px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
#subCabecera1{
    height: 25px;
    width: 60%;
    background-color: #FEE3B4;
    border-radius: 3px 3px 0 0;
}
#subCabecera2{
    height: 40px;
    width: 100%;
    background-color: #304244;
    border-radius: 0 3px 3px 3px;
}
#subCabecera h1{
    margin-bottom: 35px;
    padding: 0 10px;
    font-size: 50px;
    color: #FEE3B4;
    text-shadow: #304244 -3px -3px;
    position: absolute;
}


#barraNavegacion{
    width: 70%;
    height: 40px;
    margin: 30px 0 15px 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.vinculo{
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#304244;
    border-radius: 3px;
    margin: 0 1em;
    font-weight: bold;
}
.vinculo a{
    width: 100%;
    font-size: 18px;
    height: 22px;
    text-decoration: none;
    color: #fff3e0;
}


#contenido{
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-top: 2px solid #304244;
    border-bottom: 2px solid #304244;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}


#pie{
    width: 90%;
    height: 50px;
    margin-top: 60px;
}
#pie h3{
    width: 100%;
    margin: 12px 0 0 0;
    color: #304244;
    text-shadow: #FEE3B4 -2px -2px;
}

@media (max-width: 840px){
    #subCabecera1{
        width: 249px;
    }
}