.seccion{
    width: 450px;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}



.seccion picture{
    width: 420px;
    height: 420px;
}
.seccion img{
    width: 100%;
    height: 100%;

    border-radius: 10px;
    box-shadow: #FEE3B4 -10px -10px;
}
.seccion h2{
    text-shadow: #FEE3B4 -3px -3px;
}